*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
      background: black;
  }
  #container {
      max-width: 1024px;
      margin: 0 auto;
  }
  main {
      background: black;
      font-size: 20px;
      padding: 1rem;
  }
  .produto {  
    cursor: pointer; 
  }
  .produto p {
      color: white;
      padding: 5px 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 150%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
  #produtos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .card{
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    background: gray;
    width: 22%;
    height: 100%; 
    margin-bottom: 10px;
    margin-top: 10px;
    border-width: 3px;
  }
  
  .select-estiloso { /* <div> */
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(nova_setinha.jpg) no-repeat right #ddd; /* novo ícone para o <select> */
    border: 1px solid #ccc;
  }   
  
  .select-estiloso select { /* <select> */
    background: transparent; /* importante para exibir o novo ícone */
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
  }      
  .AnuncioClicked{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    }
    .main-side{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    }
    .left-side{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 25vh;
    }
    .right-side{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 25vh;
    }
    .text{
    max-width: 80vh;
    color: white;
    }
    .slide{
    max-height: 50vh;
    min-height: 50vh;
    }
