<!DOCTYPE html>
<html style="zoom: 150%;"lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devide-widthm initial-scale=1.0">
        <title>Termos de Uso </title>
    </head> 
<h2><span style="color: rgb(68, 68, 68);">1. Termos</span></h2><p><span style="color: rgb(68, 68, 68);">
    Ao acessar e cadastrar-se ao site Brashop, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis 
    locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de 
    direitos autorais e marcas comerciais aplicáveis. 
</span></p><h2><span style="color: rgb(68, 68, 68);">2. Regras de uso</span></h2><p><span style="color: rgb(68, 68, 68);">
    É concedida a licença para usufruir das funções cedidas aos usuários no site Brashop à aqueles que concordarem com os termos de uso no cadastro. 
    Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:
    &nbsp;</span></p><ol><li><span style="color: rgb(68, 68, 68);">Modificar, copiar, ou usar materiais sem a devida autoria;
    &nbsp;</span></li><li><span style="color: rgb(68, 68, 68);">Abusar de quaisquer erros técnicos, tipográficos ou fotográficos;
    &nbsp;</span></li><li><span style="color: rgb(68, 68, 68);">Tentar descompilar ou fazer engenharia reversa de qualquer software contido no site Brashop;
    &nbsp;</span></li><li><span style="color: rgb(68, 68, 68);">Promover de qualquer modo a injuria a qualquer pessoa ou coisa, seja pelo chat ou pelo anuncio;
    &nbsp;</span></li><li><span style="color: rgb(68, 68, 68);">Transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor.
    </span></li></ol><p><span style="color: rgb(68, 68, 68);">Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por um 
    administrador do Brashop a qualquer momento.
    </span></li></ol><h2><span style="color: rgb(68, 68, 68);">3. Limitações</span></h2><p><span style="color: rgb(68, 68, 68);">
    Em nenhum caso o Brashop ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos 
    negócios) decorrentes do uso ou da incapacidade de usar os materiais em Brashop, mesmo que Brashop ou um representante autorizado da Brashop tenha sido notificado oralmente ou 
    por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos conseqüentes ou 
    incidentais, essas limitações podem não se aplicar a você.
    Não é recomendado cadastro de menores de idades, não nos responsabilizamos por quaiquers tipos de problemas provenientes de usuários menores de idade
</span></p><h2><span style="color: rgb(68, 68, 68);">4. Precisão dos materiais</span></h2><p><span style="color: rgb(68, 68, 68);">
    Os materiais exibidos no site da Brashop podem incluir erros técnicos, tipográficos ou fotográficos. Brashop não garante que qualquer material em seu site seja preciso, completo 
    ou atual. Brashop pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, Brashop não se compromete a atualizar os materiais.
</span></p><h2><span style="color: rgb(68, 68, 68);">5. Links</span></h2><p><span style="color: rgb(68, 68, 68);">
    O Brashop não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por 
    Brashop do site. O uso de qualquer site vinculado é por conta e risco do usuário.
</span></p><p><br></p><h3><span style="color: rgb(68, 68, 68);">Modificações</span></h3><p><span style="color: rgb(68, 68, 68);">
    O Brashop pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses termos de serviço.
</span></p><h3><span style="color: rgb(68, 68, 68);">Lei aplicável</span></h3><p><span style="color: rgb(68, 68, 68);">
    Estes termos e condições são regidos e interpretados de acordo com as leis do Brashop e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquela localidade.
</span></p>
</html>