body{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    font-family: "Noto Sans" , sans-serif;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #009c3b;
    justify-content: center;
    display: flex;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.left-login-image{
    width: 75%;
}
.right-login{
    width: 50vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.card-login{
    width: 60%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #080808;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#000000;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.cont-contactBtn {
    height: 100%;
    margin: auto;
    width: 574px;
    margin-left: 0%;
    perspective: 800px;
}
    .cont-contactBtn .cont-flip {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}
    .cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.cont-contactBtn .cont-flip .back {
    transform: rotateX(180deg);
}
.cont-contactBtn .cont-flip.flipped { 
    transform: rotateX(180deg);
}
.cont-contactBtn .close {
    background-color: #00ff88;
    position: relative;
    margin: -20px;
    left: 13vw;
    bottom: 2vh;
    width: 12%;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    color: #2b134b;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.btn_pesquisar {
    display: block;
    margin: 0 auto;
}
